@import "vars";
@import "fonts";
@import "normalize";
@import "typography";
@import "_mixins/mixins";
@import "include-media";


// breakpoints for media
$breakpoints: (
	"xs-phone": 320px,
	"phone": 480px,
	"tablet": 768px,
	"desktop": 1024px,
	"widescreen": 1366px
);

html {
	font-size: $base-font-size;
	line-height: $base-line-height;
}

body {
	font-family: $default-font;
	min-width: $base-min-width;
	color: $base-text-color;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	position: absolute;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: $accent;

	@include media(">=tablet") {
		padding: 0 50px;
	}
}

.logo {
	a {
		display: block;
	}
}

.menu {
	text-align: center;

	@include media(">=tablet") {
		display: flex;
		align-items: center;
	}
}

.menu__item {
	padding: 15px 0;
	font-size: $size-m;
	text-transform: capitalize;
	color: $base-color;

	@include media (">=tablet") {
		font-size: $size-l;
		color: $primary;
		padding: 15px 10px;
	}
}

.menu__item_active {
	color: $danger;
}

.menu__link {
	color: inherit;
	transition: color .3s;
	display: block;

	&:focus,
	&:hover {
		color: $danger;
	}
}

.nav {
	top: 83px;
	width: 100%;
	right: 100%;
	position: absolute;
	background-color: #000;
	transition: right .3s;
	height: 100vh;

	.menu-active & {
		opacity: .9;
		right: 0;
	}

	@include media(">=tablet") {
		position: static;
		height: auto;
		background-color: transparent;
	}
}

.menu-open {
	display: block;
	position: relative;
	height: 30px;
	width: 30px;
	z-index: 4;

	background-color: $primary;
	border: none;

	span,
	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 20px;
		height: 2px;
		top: 14px;
		left: 50%;
		transform: translateX(-50%);

		background-color: #fff;
		border-radius: 3px;
		transition: transform .3s;
	}

	&:before {
		top: 8px;

		.menu-active & {
			top: 14px;
			transform: translateX(-50%) rotate(45deg);
		}
	}

	&:after {
		top: 20px;

		.menu-active & {
			top: 14px;
			transform: translateX(-50%) rotate(-45deg);
		}
	}

	span {
		.menu-active & {
			opacity: 0;
			visibility: hidden;
		}
	}

	@include media(">=tablet") {
		display: none;
	}
}

// ----------------	visual ---------------
.visual {
	display: flex;
	position: relative;
	align-items: center;
	height: 100vh;
	background: url("../img/_src/slide.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	text-align: center;
	line-height: 1.3;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: $dark-color;
		opacity: .4;
	}

	p {
		margin-bottom: 40px;
		font-size: 16px;
		line-height: 1.3;
		color: $base-color;

		@include media(">=tablet") {
			font-size: $size-m;
		}

		@include media(">=desktop") {
			font-size: $size-l;
		}

		@include media(">=widescreen") {
			font-size: $size-xl;
		}
	}

	@include supports(display, flex){
		display: inline;
	}

}

@supports not (display: flex) {
	.visual {
		display: block;
	}
}

.visual__inner {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 15px;
	z-index: 1;
}

.visual__title {
	font-size: 34px;

	@include media(">=desktop") {
		font-size: 44px;
	}

	@include media(">=widescreen") {
		font-size: $h1-basic-font-size;
	}
}

.btn {
	display: block;
	padding: 7px 15px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.3;
	color: $base-color;
	text-transform: capitalize;
	border: solid 2px currentColor;
	border-radius: 4px;

	transition: background-color .3s,
							color .3s;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover,
	&:focus,
	&.btn_active {
		color: $primary;
		border: solid 2px rgba(250,237,97,1);
		outline: 0;

		// linear gradient
		background-color: rgba(250,237,97,1);
		background: (linear-gradient(top, rgba(250,237,97,1) 0%, rgba(255,241,89,1) 21%, 								rgba(255,236,23,1) 51%, rgba(250,238,105,1) 100%));
	}

	@include media(">=tablet") {
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
}

.visual__btn {
	width: 100%;
	@include media(">=tablet") {
		width: auto;
		margin: 0 5px;
	}
}

// ---------------- main -----------------
.page-main {
  flex: 1 0 auto;
}

// --------------- about -----------------`
.about {
	background-color: $primary;
	padding: 20px 0 20px;

	@include media(">=widescreen") {
		padding: 40px 0 80px;
	}
}

.about__title {
	font-size: $size-xl;
	text-align: center;

	@include media(">=tablet") {
		font-size: 40px;
	}

	@include media(">=widescreen") {
		font-size: $h2-basic-font-size;
	}
}

.about__list {
	@include media(">=tablet") {
		display: flex;
		flex-wrap: wrap;
	}
}

.about-info {
	margin-bottom: 50px;
	text-align: center;

	@include media(">=tablet") {
		display: flex;
		flex-direction: column;
		width: 50%;
		padding: 0 20px;
	}

	@include media(">=widescreen") {
		width: 25%;
		margin-bottom: 0;
	}
}

.about-info__text {
	flex: 1 0 auto;

	p {
		font-size: 16px;
		color: $base-color;
	}
}

.about-info__title {
	position: relative;
	padding-bottom: 20px;

	&:after {
		content: "";
		position: absolute;
		width: 65%;
		height: 2px;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);

		background-color: $accent;
	}
}

.about-info__img {
	min-height: 135px;
	margin-bottom: 20px;

	@include media(">=tablet") {
		margin-bottom: 40px;
	}
}

.about-info__btn {
	flex: 0 0 auto;

	@include media(">=tablet") {
		margin: 0 15%;
	}
}

// ------------------ contact ----------------
.contact {
	background-color: $accent;
	padding: 30px 0 50px;
}

.contact-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact-box {
	margin-bottom: 30px;
	width: 100%;
	text-align: center;

	@include media(">=desktop") {
		width: 50%;
		text-align: left;
		margin-bottom: 0;
	}
}

.contact-box_modify {
	text-align: left;
	margin-bottom: 0;

	@media screen and ("min-width: 525px") {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.contact-box__title {
	font-size: 16px;

	@include media(">=tablet") {
		font-size: $size-m;
	}
}

.form {
	display: flex;
	max-width: 600px;
	margin: 0 auto;

	input[type="text"] {
		flex: 1 0 auto;
		border-radius: 5px 0 0 5px;
		background: transparent;

		&::placeholder {
			color: $primary;
		}

		&:focus {
			&::placeholder {
				color: transparent;
			}
		}
	}

	input[type="submit"] {
		border-radius: 0 5px 5px 0;
		flex: 0 0 auto;
	}
}

.form__input {
	padding: 5px 10px;
	font-size: $size-xs;

	background: transparent;
	border: solid 2px currentColor;
	border-right: transparent;
	color: $primary;

	@supports not (border-right: $primary) {
		border-right: solid 2px;
	}

	@include media(">=tablet") {
		padding: 10px 20px;
		font-size: $size-l;
	}
}

.contact-box__community {
	margin-bottom: 30px;

	@include media(">=tablet") {
		margin-bottom: 0;
	}
}

.contact-community__item {
	position: relative;
	font-size: 16px;
}

.contact-community__link {
	margin-left: 20px;
	color: $primary;
	transition: color ease .3s;

	&:hover,
	&:focus,
	&:active {
		color: $info;
	}

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		border-top: 4px solid transparent;
		border-left: 6px solid $primary;
		border-bottom: 4px solid transparent;

		transition: border-left-color .3s;
	}

	&:hover:before {
		border-left-color: $info;
	}
}

.contact-list__term {
	text-transform: capitalize;
	font-family: "robotoBold";
}

.contact-list__description {
	margin-left: 0;
}

.contact-list__link {
	color: $base-text-color;

	transition: color .3s;

	&:hover {
		color: $info;
	}
}

//------------------- footer ---------------
.footer {
	background-color: $accent-dark;
	padding: 20px 0;
  flex: 0 0 auto;
}

.footer-wrap {
	display: block;
	text-align: center;

	@include media(">=phone") {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.copyright {
	font-size: $size-xs;
	margin-bottom: 20px;

	@include media(">=phone") {
		margin-bottom: 0;
	}
}

.social {
	text-align: center;
	display: flex;
	justify-content: center;
}

.social__item {
	margin: 0 10px;
}

.social__link {
	display: block;

	background: $primary;
	border-radius: 50%;
	text-align: center;
	transition: background-color .3s;

	&:hover {
		background-color: $accent-dark;
	}
}

.fas,
.fab {
	width: 42px;
	height: 42px;
	line-height: 42px;

	color: #20c7a1;
	text-rendering: optimizeLegibility; //hack for the safari
	transition: color .3s;

	&:hover {
		color: $primary;
	}

	@include media(">=phone") {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


// ------------------- styles for content.html ----------------
.software {
	padding-bottom: 80px;
}

.software-wrap {

	@include media(">=desktop") {
		display: flex;
		align-items: flex-start;
	}
}

.software__box {
	flex: 1 0 70%;
}

// title for javascript
.software__title {
	display: none;
	vertical-align: top;

	padding: 10px 30px;

	background-color: $info;
}
//--------------------------------
.content-header {
	position: static;
}

.software__figure {
	margin: 0 0 20px;
	color: $accent;
}

.aside {
	@include clearfix;

	padding: 40px 40px;

	font-size: $base-font-size;
	line-height: 1.3;

	background-color: $primary;
	box-shadow: 0 2px 20px 6px rgba(#000, .3);

	@include media(">=tablet") {
		flex: 0 0 30%;
		margin-top: 10px;
		position: sticky;
		top: 10px;
	}
}

.aside__title {

	@include media(">=tablet") {
		font-size: $h3-basic-font-size;
	}
}

.aside__text {
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;

	font-size: 15px;
	line-height: 1.3;
	color: $base-color;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 4px;
		height: 100%;
		background-color: $base-color;
	}
}

.aside__author {
	float: right;
}



