//colors
$base-color: #fff;
$dark-color: #000;
$accent: #50e3c2;
$accent-dark: #20c7a1;
$danger: #FF0000;
$primary: #434c6d;
$info: #f8e81c;
$base-text-color: $primary;

//font-size
$size-xxs: 12px;
$size-xs: 14px;
$size-m: 20px;
$size-l: 24px;
$size-xl: 26px;
$size-xxl: 72px;

// Body styles
$default-font: "roboto", "Arial", sans-serif;
$font-Knewave: "knewaveRegular", "Arial", cursive;
$base-font-weight: 400;
$base-font-family: $default-font;
$base-background-color: $base-color;
$base-font-size: 20px;
$base-line-height: 2;
$base-min-width: 320px;

// Links styles
$base-link-color: $primary;
$link-padding: 0.4em 0.8em;

// Buttons styles
$btn-color: $base-color;
$btn-background: $base-color;
$btn-padding: 0.4em 0.8em;
$btn-font-size: 18px;







//// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
//$grid-gutter-width: 30px;
//$grid-columns: 12;
//$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
//$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
//
//$gutter: $grid-gutter-width;
