@import "../base/include-media";
@import "../base/variables";

 //Forms
.form {
  font-size: 0;
  line-height: 0;

  @supports (display: flex) {
    display: flex;
  }
}


input.form__input {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  padding: $btn-padding;

  background: transparent;
  border: solid 2px currentColor;
  border-right: transparent;
  color: $primary;
  font-size: $size-xs;
  line-height: 1.3;

  @supports (flex: auto) {
    flex: 1 0 80%;
  }

  border-radius: 5px 0 0 5px;

  &::placeholder {
    color: $primary;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }

  @include media(">=tablet") {
    font-size: $size-l;
  }
}

input.form__btn {
  display: inline-block;
  vertical-align: top;
  flex: 0 0 auto;
  border-radius: 0 5px 5px 0;
  font-size: $size-xs;
  padding: $btn-padding;

  @include media(">=tablet") {
    font-size: $size-l;
  }
}