@import "../base/include-media";
@import "../base/variables";

 //Forms
.form {
  display: flex;
  width: 100%;
}

input.form__input {
  flex: 1 0 auto;
  padding: $btn-padding;

  background: transparent;
  border: solid 2px currentColor;
  border-right: transparent;
  color: $primary;
  font-size: $size-xs;
  line-height: 1.3;

  border-radius: 5px 0 0 5px;

  &::placeholder {
    color: $primary;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }

  @include media(">=tablet") {
    font-size: $size-l;
  }
}

input.form__btn {
  flex: 0 0 auto;
  width: auto;
  border-radius: 0 5px 5px 0;
  margin: 0;
  font-size: $size-xs;
  padding: $btn-padding;

  @include media(">=tablet") {
    font-size: $size-l;
  }
}