@import "../base/variables";

// Social links
.social {
  text-align: center;
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 10px;
}

.social__link {
  display: block;

  background: $primary;
  border-radius: 50%;
  text-align: center;
  transition: background-color .3s;

  &:hover {
    background-color: $accent-dark;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  line-height: 42px;

  color: #20c7a1;
  text-rendering: optimizeLegibility; //hack for the safari
  transition: color .3s;

  &:hover {
    color: $primary;
  }
}