@import "../base/include-media";
@import "../base/variables";
@import "../vendors/typography";

// --------------- about -----------------`
.about {
  background-color: $primary;
  padding: 30px 0 30px;

  @include media(">=widescreen") {
    padding: 40px 0 80px;
  }
}

.about__title {
  font-size: $size-xl;
  text-align: center;

  @include media(">=tablet") {
    font-size: 40px;
  }

  @include media(">=widescreen") {
    font-size: $h2-basic-font-size;
  }
}

.about__list {
  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-info {
  text-align: center;
  line-height: $base-line-height;
  font-size: 16px;
  margin-bottom: 50px;

  @include media(">=tablet") {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 2%;
    justify-content: space-between;
  }

  @include media(">=widescreen") {
    margin-bottom: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.about-info__text {
  font-size: 16px;
  color: $base-color;

  @include media(">=tablet") {
    flex: 1 0 auto;
  }
}

.about-info__title {
  position: relative;
  padding-bottom: 20px;

  &:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: $accent;
  }
}

.about-info__img {
  margin-bottom: 20px;

  @include media(">=tablet") {
    margin-bottom: 40px;
    min-height: 135px;
  }
}

// ------------------ contact ----------------
.contact {
  background-color: $accent;
  padding: 30px 0 50px;
}

.contact-wrap {
  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
  }
}

.contact-box {
  margin-bottom: 30px;
  width: 100%;

  @include media(">=desktop") {
    width: 50%;
    margin-bottom: 0;
  }
}

.contact-box_modify {
  margin-bottom: 0;

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.contact-box__title {
  font-size: 16px;

  @include media(">=tablet") {
    font-size: $size-m;
  }
}

.contact-box__community {
  margin-bottom: 30px;

  @include media(">=tablet") {
    margin-bottom: 0;
  }
}

.contact-list,
.contact-list__description {
  margin: 0;
}

.contact-community__item {
  position: relative;
  font-size: 16px;
}

.contact-community__link {
  padding-left: 20px;
  transition: color ease .3s;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 4px solid transparent;
    border-left: 6px solid $primary;
    border-bottom: 4px solid transparent;

    transition: border-left-color .3s;
  }
  &:hover:before {
    border-left-color: $info;
  }
}

.contact-list__term {
  text-transform: capitalize;
  font-family: "robotoBold", sans-serif;
}

.contact-community__link,
.contact-list__link {
  transition: color .3s;

  &:hover,
  &:focus,
  &:active {
    color: $info;
  }
}
